@import "tailwindcss";

@import "tw-animate-css";

body {
  font-family:
    "Montserrat" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@theme {
  --color-main-dark-green: #2E361D;
  --color-banner: #D4CBC0;
  --color-contrast-green: #4C9613;
  --color-separator-color: #484848;
  --color-selected-banner: #FFF2C9;
  --color-dark-gray: #6C6C6C;
  --color-warning: #A18900;
  --color-default-red: #CD5252;
  --color-muted-foreground: #64748B;
  --color-card: #E7DED445;
}


